{% extends "base.html" %}

{% block title %}

{% endblock %}

{% block body %}
<header>
    <h1>Fitness manager</h1>
</header>
<div class=" container">
    <h2>Members</h2>
    {% if members|length < 1%}
    <p>No members yet</p>
    {% else %}
    <table>
        <tr>
            <th>Name</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Membership</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        {% for member in members %}
        <tr>
            <td>{{ member.name }}</td>
            <td>{{ member.phone }}</td>
            <td>{{ member.email }}</td>
            <td>{{ member.active_membership }}</td>
            <td><a href="/update/{{ member.id }}">Edit</a></td>
            <td><a href="/delete/{{ member.id }}">Delete</a></td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}

    <h2>New member</h2>
    <form action="/" method="POST">
        <label for="member_name">Name:</label>
        <input type="text" name="member_name" id="member_name">
        <label for="member_phone">Phone:</label>
        <input type="text" name="member_phone" id="member_phone">
        <label for="member_email">Email:</label>
        <input type="email" name="member_email" id="member_email">
        <input type="submit" value="Submit">
    </form>
</div>
{% endblock %}