{% extends "base.html" %}

{% block title %}

{% endblock %}

{% block body %}
<header>
    <h1>Fitness manager</h1>
</header>
<div class="container">
    <h2>Update member</h2>
    <form action="/update/{{member.id}}" method="POST">
        <label for="member_name">Name:</label>
        <input type="text" name="member_name" id="member_name" value="{{member.name}}">
        <label for="member_phone">Phone:</label>
        <input type="text" name="member_phone" id="member_phone" value="{{member.phone}}">
        <label for="member_email">Email:</label>
        <input type="email" name="member_email" id="member_email" value="{{member.email}}">
        <input type="submit" value="Submit">
    </form>
</div>
{% endblock %}