{% extends "base.html" %}

{% block title %}

{% endblock %}

{% block body %}
<div class=" container">
    <h2>Members</h2>
    {% if members|length < 1%}
    <p>No members yet</p>
    {% else %}
    <table>
        <tr>
            <th>Name</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Membership</th>
            <th>Action</th>
        </tr>
        {% for member in members %}
        <tr>
            <td>{{ member.name }}</td>
            <td>{{ member.phone }}</td>
            <td>{{ member.email }}</td>
            <td>
            {% if member.active_membership %}
                Active (Valid until: {{ member.memberships[-1].valid_to.strftime('%Y-%m-%d') }})
            {% else %}
                Not active
            {% endif %}
            </td>
            <td><a href="/members/update/{{ member.id }}">Edit</a>
            <a href="/members/delete/{{ member.id }}">Delete</a>
            <a href="/members/payment/{{ member.id }}">New Payment</a></td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}

    <h2>Add member</h2>
    <form action="/members" method="POST">
        <label for="member_name">Name:</label>
        <input type="text" name="member_name" id="member_name">
        <label for="member_phone">Phone:</label>
        <input type="text" name="member_phone" id="member_phone">
        <label for="member_email">Email:</label>
        <input type="email" name="member_email" id="member_email">
        <input type="submit" value="Submit">
    </form>

{% endblock %}