{% extends "base.html" %}

{% block title %}
    Update member
{% endblock %}

{% block body %}
<div class="container">
    <h2>Edit member</h2>
    <form action="" method="POST">
        <label for="member_name">Name:</label>
        <input type="text" name="member_name" id="member_name" value="{{member.name}}" required>
        <label for="member_phone">Phone:</label>
        <input type="text" name="member_phone" id="member_phone" value="{{member.phone}}" required>
        <label for="member_email">Email:</label>
        <input type="email" name="member_email" id="member_email" value="{{member.email}}" required>
        <button type="submit" value="Submit" class="button">Update</button>
    </form>
</div>
{% endblock %}