{% extends "base.html" %}

{% block title %}
    Classes
{% endblock %}

{% block body %}
<div class=" container">

    <h2>Edit class</h2>
    <form action="" method="POST">
        <label for="class_name">Name:</label>
        <input type="text" id="class_name" name="class_name" value="{{class_to_update.name}}" required>

        <label for="class_trainer_id">Trainer:</label>
        <select id="class_trainer_id" name="class_trainer_id" required>
            <option value="" disabled selected>Choose a trainer</option>
            {% for trainer in trainers %}
            <option value="{{ trainer.id }}">{{ trainer.name }} ({{ trainer.specialization }})</option>
            {% endfor %}
        </select>

        <label for="class_capacity">Capacity:</label>
        <input type="number" id="class_capacity" name="class_capacity" value="{{class_to_update.capacity}}" required>

        <label for="class_start_time">Start time:</label>
        <input type="datetime-local" id="class_start_time" name="class_start_time" value="{{class_to_update.start_time}}" required>

        <button type="submit" class="button">Update</button>
    </form>
</div>
{% endblock %}